.Opacity{
    background-color: red;
    opacity: 0.1;
}
div{
    color: white;
    width: 100px;
    padding: 10px;
}
.Position-one{
    background-color: blue;
    position: relative;
    top: 0;
    left: 0;
}
.Position-two{
    background-color: green;
    position: absolute; 
    bottom: 0;
    right: 0;
}



.parent-fixed{
    width: 500px;
    height: 300px;
    background-color: blue;
    position: relative;
}
.fixed{
    background-color: black;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
}


body{
    min-height: 50000px;
}
.sticky{
    background-color: red;
    color: white;
    padding: 10px;
    position: sticky;
    top: 20px;
}