    /*13 Grouping Multiple Selectors*/
/* .one{
    border-bottom: 1px solid red;
    color: red;
}
.two{
    border-bottom: 1px solid green;
    color: green;
}
.three{
    border-bottom: 1px solid blue;
    color: blue;
}
.four{
    border-bottom: 1px solid black;
    color: black;
}

.one,
.tow,
.three,
.four,
.my-p{
    padding: 10px;
    margin: 10px 0;
    background-color: #EEE;
} */


/*14 Nesting*/
/* 
div p{
    color: red;
}
div .Speical{
    color: green;
} */


/* 15 dimensions => width and height */
/* div{
    background-color: red;
    padding: 10px;
    display: inline-block;
    min-width: 400px;
    max-width: 600px;
    min-height: 40px;
    max-height: 100px;
}
div{
    background-color: red;
    padding: 10px;
    width: fit-content;
    height: fit-content;
} */